on:
  push:
    branches:
    - main
    - master
    - release/*

jobs:
  build:
    name: Test on node ${{ matrix.node_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    strategy:
      matrix:
        node_version: ['12', '13', '14', '15']
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node_version }}
    - name: Setup PNPM
      uses: pnpm/action-setup@v1.2.0
      with:
        version: latest
        run_install: true
    - name: Build
      run: |
        npm run build

